---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Imprint" sideBarActiveItemID="home">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Imprint</div>
  </div>

<div class="mb-5">
    <div class="text-1xl w-full font-bold">Contents in accordance with §5 DDG</div>
  </div>

    <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger</p>
      <p>c/o IP-Management #8042
      <p>Ludwig-Erhard-Straße 18 </p>
      <p>20459 Hamburg</p>
      <p>Email: fmauersberger [ät] gmail.com</p>
      <p></p>
  </div>

  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Point of Contact under the EU Digital Services Act (DSA)</div>
  </div>

     <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger, address as above </p>
      <p></p>
  </div>

  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Responsible for content according to § 18 Abs. 2 MStV:</div>
  </div>

    <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger, address as above </p>
      <p></p>
  </div>
 
</BaseLayout>

