---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="home">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Imprint</div>
  </div>

    <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger</p>
      <p>Wenzelstr. 4</p>
      <p>80335 München</p>
      <p>Email: felix.mauersberger@ikmail.com</p>
      <p></p>
  </div>

  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Point of Contact under the EU Digital Services Act (DSA)</div>
  </div>

     <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger, address as above </p>
      <p></p>
  </div>

  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Responsible for content according to § 18 Abs. 2 MStV:</div>
  </div>

    <div class="mb-10 text-lg space-y-4">
     <p>Dr. Felix Mauersberger, address as above </p>
      <p></p>
  </div>
 
</BaseLayout>

