---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <p>&copy; {today.getFullYear()} Felix Mauersberger</p>
  </div>
  <div class="inline">
    <li><a class="pb-2 opacity-75" id="home" href="/imprint">Imprint</a></li>
  </div>
</footer>
<style></style>
